body{
    background-image: linear-gradient(to right, rgb(17, 58, 245), rgba(255,0,0,0));
}

#heading{
    text-align: center;
}

.container{
   text-align: center;
   margin-top: 14%;
}

#demo{
    width: 200px;
    height: 40px;
    border-radius: 19px;
    text-align: center;
}

#btn{
    width: 80px;
    height: 40px;
    border-radius: 9px;
    color: rgb(0, 0, 0);
    text-align:center;
    background-color: rgb(255, 255, 255);
}

#display{
    width: 40px;
    margin-top: 140px;
    margin-left: 40%;
}